.MuiCard-root {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    transition: 0.3s ease;
}
.MuiCard-root:hover {
    transition: 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    transform: scale(1.05);
}
.MuiPaper-root {
    transition: 0.3s ease;
}

.activity-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 20px;
    transition: 0.3s ease;
}

