.main-body {
    padding: 10px;
    margin: 0 auto;
}

.flex-title{
    display: flex;
    width: 25%;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}

#B, #O, #R, #E, #D, #A, #P {
    margin: 0 auto;
    width: 50%;
    font-size: 60px;
    font-family: 'Indie Flower', 'cursive';
}
#space {
    color: white;
}
#B:hover, #O:hover, #R:hover, #E:hover, #D:hover, #A:hover, #P:hover {
    color: white;
}

@media only screen and (max-width:800px){
    .flex-title {
        width: 20%
    }
}