.gsc-control-cse {
    width: 50%;
    margin: 0 auto;
}

.load-result-button {
    padding: 5px;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}