.gsc-control-cse {
    width: 50%;
    margin: 0 auto;
}

.load-result-button {
    padding: 5px;
}

.results {
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.result {
    margin: 0 auto;
    width: 80%;
    height: 75%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.result:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#result-photo {
    height: 100px;
    width: 125px
}

a {
    color: black;
}

a:hover {
    color: blue;
}